body{
  background-color: #666666;
  font-family: 'Indie Flower', cursive;
}
header{
  background-image: url('http://i521.photobucket.com/albums/w335/Maria_Pichon/pink%20clouds_zps7djxglkj.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1% 0 0 0;
  margin: 0;
  width: 100%;
  height: 90%;
}
nav{
  padding-top: 1%;
  padding-left: 1%;
}
nav li{
  color: #000;
  display: inline;
  padding-right: 5%;
}
nav a:link{
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
nav a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}
h1{
  color: #000;
  text-align: center;
  font-size: 300%;
  text-shadow: 10px 25px 20px rgba(0,0,0,0.9), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,0,255,0.8), 0px 0px 180px rgba(255,255,255,0.3);
}
h2{
  color: #FE99CE;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 50px auto 50px auto;
  width: 900px;
  text-align: center;
}
p{
  background-color: #AAAAAA;
  padding-bottom: 100px;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 900px;
  font-size: 20px;
}
h3{
  color: #FE99CE;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 0 auto 0 auto;
  width: 400px;
  text-align: center;
}
h5{
  color: #FFFFFF;
  font-size: 20px;
  background-color: #888888;
  border: 10px solid #888888;
  margin: 50px auto 0 auto;
  width: 220px;
}
.container{
  width: 900px;
  height: 900px;
  margin: 30px auto 0 auto;
}
.container img{
  width: 440px;
  height: 410px;
  margin: 10px 0 10px auto;
  float: left;
}
.minicontainer1{
  background-color: #AAAAAA;
  width: 440px;
  height: 400px;
  margin: 12px auto 10px 0;
  float: right;
}
.minicontainer1:last-of-type{
  margin-top: 15px;
}
.minicontainer1 p{
  width: 420px;
  height: 221px;
  margin: 10px 0 10px 0;
}
.minicontainer1 a{
  background-color: #666666;
  margin: 0px auto 30px auto;
}
.minicontainer1 a:link{
  color: #FE99CE;
}
.minicontainer1 a:visited{
  color: #FE99CE;
}
.container2{
  width: 900px;
  height: 680px;
  margin: 30px auto 0 auto;
}
.container2 img{
  width: 420px;
  height: 400px;
  margin: 20px 0 10px auto;
}
.minicontainer2{
  width: 420px;
  height: 595px;
  margin: 12px auto 10px 0;
  float: left;
}
.minicontainer2 ul{
  background-color: #AAAAAA;
  height: 160px;
  margin: 0;
}
.minicontainer2 li{
  list-style: none;
  padding: 5px;
}
.minicontainer3{
  width: 420px;
  height: 600px;
  margin: 12px auto 10px 0;
  float: right;
}
.experience1{
  background-color: #AAAAAA;
  margin-top: 20px;
  height: 120px;
  width: 410px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.experience1  li:first-of-type, .experience2 li:first-of-type{
  list-style: none;
  font-size: 20px;
}
.experience2{
  background-color: #DDD;
  margin-top: 20px;
  height: 120px;
  width: 410px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.container2 a{
  float: left;
  padding: 10px;
  margin: 60px 0 0 350px;
}
.container2 a:link{
  color: #FE99CE;
  background-color: #000;
}
.container2 a:visited{
  color: #FE99CE;
}
.projects{
  width: 904px;
  height: 1400px;
  margin: 30px auto 0 auto;
}
.projects img{
  width: 450px;
  height: 300px;
  background-color: #888;
}
.projects p{
  width: 430px;
  height: 20px;
  margin: auto;
  text-align: center;
}
.pro{
  float: left;
  width: 450px;
  height: 450px;
  border: 1px solid #000;
}
.ject{
  float: right;
  width: 450px;
  height: 450px;
  border: 1px solid #000;
}

/* .contact{
  background-color: #AAAAAA;
  width: 900px;
  height: 200px;
  margin: 30px auto 0 auto;
  font-size: 20px;
  padding-top: 20px;
}
.ppl{
  width: 150px;
  display: block;
  margin-left: 20px;
}
.message{
  width: 200px;
  height: 150px;

} */


/* 
///////////   contact form   */

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}
.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

/* social media */

.socialmedia img{
  width: 50px;
  height: 50px;
  margin: 50px 0 0 10px;
}


